.table{
    margin: 35px 0 0 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $light-grey-color;
}

td,th,tr{
    text-align:start;
    min-height: 56px;
    height: 56px;
}

.table-header{
    height: 56px;
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid $light-grey-color;
}

.select-checkbox{
    width: 20px;
    height: 20px;
}

.table-select, .actions{
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.actions{
    i{
        cursor: pointer;
    }
}