$red-color: #DE0028;
$red-color-hover: #ad0120;
$dull-red-color: #BB3E3F;
$blue-color: #0683F9;
$dark-blue-color: #1D72C2;
$dark-blue-hover: #195894;
$light-blue: #8EC7FC;
$sky-blue: #1CC2F5;
$green-color: #429C41;
$dark-green-color: #367c10;
$yellow-color: #FFC700;
$orange-color: #FF6F00;
$white-color: #FFFFFF;
$light-grey-color: #E8E8E8;
$grey-color: #CCCCCC;
$background-grey: #C6CACC;
$dark-grey-color: #AAAAAA;
$black-color-hover: #6f6f6f;
$black-color: #000000;

$font-family: 'Open Sans', sans-serif;
$height-header: 68px;
